*, body, html {
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
}

nav {
    width:100%;
    padding:0;
    margin:0;
}

nav ul {
    margin:0;
    width:100%;
    padding:15.5px 0px;
    display: flex;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding:0;
    margin:0;
}

nav ul li a {
    color: #00C2FF;
    text-decoration: none;
    font-weight:bold;
    padding:15.5px 15.5px;
    margin:0;
    transition: 0.3s;
}

nav ul li a:hover {
    box-shadow: inset 0 -5px 0 0 #00C2FF;
}







.hamburger-nav {
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
}

.hamburger-nav ul {
    margin:0;
    width:100%;
    padding:15px 15px;
}

.hamburger-nav ul li {
    list-style-type: none;
    display: block;
    padding:0;
    margin:0;
    height:50px;
}

.hamburger-nav ul li a {
    color: #00C2FF;
    text-decoration: none;
    font-weight:bold;
    padding:10px 10px;
    margin:0;
    transition: 0.3s;
}

.hamburger-nav ul li a:hover {
    box-shadow: inset 0 -5px 0 0 #00C2FF;
}

.hamburger img {
    max-width:60px;
    margin-right:20px;
}

.hamburger img:hover {
    cursor: pointer;
}

.hamburger {
    padding:10px;
    text-align: right;
}




#ShowMenu {
    display:none;
}




.selected {
    box-shadow: inset 0 -5px 0 0 #00C2FF;
}

.header {
    width:100%;
    height:300px;
    background-color:#00C2FF;
    display: inline-block;
    position: relative;
}

.header-text {
    width:50%;
    text-align: center;
    padding-top:140px;
    color:#ffffff;
    display:inline-block;
    float:left;
}

.header-graphic {
    width:50%;
    display: inline-block;
    background-image:url("..//img/bubblesSVG.svg");
    background-size:cover;
    background-repeat: no-repeat;
    height:300px;
    background-position: center;
}

.heading {
    color:#00C2FF;
    font-size: 1.8em;
    text-align: center;
    padding:50px 0px 15px 0px;
}

.about-block {
    width:60%;
    margin:auto;
    color:#0f0f0f;
}

.about-image {
    width:250px;
    height:250px;
    float: left;
}

.about-image img {
    height:250px;
    border-radius:100%;
    display: block;
}

.about-block-content {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height: 250px;
    padding-left:50px;
}

.about-block-content p {
    font-size:1.5em;
}


.about-block-content button {
    margin-top:20px;
}

.blue-button {
    background-color:#00C2FF;
    color:white;
    padding:15px 20px;
    border:none;
    font-weight: bold;
}

.blue-button a{
    background-color:#00C2FF;
    color:white;
    padding:5px 10px;
    font-size:1.2em;
    font-weight: bold;
    text-decoration: none;
}

.featured-block {
    width:80%;
    margin:auto;
    padding:0px 0px 50px 0px;
}

.card-group {
    width:100%;
    text-align: center;
}

.card {
    width:400px;
    height:350px;
    background-color:lightblue;
    display: inline-block;
    margin:40px 20px;
}

.view-project {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:35 0px;
    width:400px;
    height:350px;
    color:white;
    font-weight:600;
    font-size:1.2em;
}

.card-desc {
    display: block;
    padding:20px 20px;
    width:calc(400px - 40px);
    background-color:#00C2FF;
    color:white;
    font-weight:600;
    font-size:1.2em;
}

footer {
    width:100%;
    background-color: #00C2FF;
    display: block;
    color:#ffffff;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.footer-social {
    display: inline-block;
}

footer p a {
    display: table-cell;
    vertical-align: middle;
    padding:6px;
    color:#ffffff;
    text-decoration: none;
}

.social {
    padding:5px;
    margin:auto;
}

footer img {
    max-width:36px;
}

.footer-text {
    padding:20px;
    
}

.text-block {
    width:80%;
    height:auto;
    background-color:#F6F6F6;
    margin:auto;
    padding:50px;
    font-size: 1.2em;
    color:#0f0f0f;
}

#experiance-pad {
    height: calc(350px - 40px);
    padding:20px;
}

.privacypolicy {
    padding:10px;
    color:#ffffff;
    text-decoration: none;
    color:#0f0f0f;
}


.form-container {
    width:300px;;
    margin:auto;
    font-size: 1.2em;
}

.form-container label {
    display: block;
    color:#0f0f0f;
}

.form-container input {
    width:200px;
    margin:10px;
    padding:10px;
    border: 2px solid #00C2FF;
    border-radius: 5px;
    display: block;
    width:100%;
    font-size: 1em;
    color:#0f0f0f;
}

.form-container textarea {
    font-size: 1em;
    border: 2px solid #00C2FF;
    border-radius: 5px;
    margin:10px;
    display: block;
    width:100%;
}

#EmailMessage {
    height:200px;
}

#SubmitButton {
    font-size:1em;
    color:white;
    background-color:lightgray;
}

#SubmitButton:hover {
    cursor:not-allowed;
}

#checkbox-text {
    padding:20px 0px 20px 0px;
}









@media (min-width: 600px) {
    .hamburger-nav {
        display:contents;
    }
    
    nav {
        display:none;
    }
    
    
    
}


@media (max-width: 800px) {
    .hamburger-nav {
        display:contents;
    }
    
    nav {
        display:none;
    }
    
    .card {
        margin:40px 0px;
    }
    

    
}



@media (min-width: 1160px) {
    .hamburger-nav {
        display:none;
    }
    
    nav {
        display:contents;
    }
}



@media (max-width: 800px) {
    .about-block-content p {
        font-size: 1.2em;
        padding:20px;
    }

    .header-graphic {
        width:0%;
        display: none;
    }
    
    .header-text {
        width:100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    
    .about-block-content {
        padding-left:0px;
    }

    .about-block {
        width:100%;
    }
    
    
    .featured-block {
        width:100%%;
        padding:0px;
        padding-bottom:50px;
        margin:auto;
    }

    .card-group {
        width:100%;
        text-align: center;
    }

    .card {
        margin:40px 0px;
    }
    
    
}

@media (max-width: 1160px) {    
    .about-image {
        display: block;
        float: none;
        margin:auto;
    }

    .about-block-content {
        text-align: center;
    }
    
    .about-block-content {
        padding-left:0px;
    }

}
    

